/cmake-build-debug/
/.idea/
/interface_monitor.vpj
/interface_monitor.vpw
/interface_monitor.vpwhistu
/interface_monitor.vpwwildcardcache
/interface_monitor.vtg
/scripts/test_dummy.txt
*.pyc
/tests/.idea/
